body{
    font-family: 'Press Start 2P', serif;
    /*margin: 25px;*/
    background-color: #0E0B16;
/*    padding: 5px;*/
     /*font-size: 1vw;*/
}


main {
    /*margin-top: 15px;*/
    /*background-color: #E7DFDD;*/
    background: linear-gradient(141deg, #808080 0%, #8D8D8D 51%, #808080 75%);
    color: black;
    margin-bottom: 30px;
    border-radius: 0.6rem;
}

button{
    width: 10%;
    background-color: #cacaca;
    padding: 0.8%;
    color: black;
    border-right: solid #0E0B16;
    border-bottom: solid #0E0B16;
    border-radius: 4px;
    cursor: pointer;
}

div.login-controls{
    display: flex;
    align-items: center;

}
.login-controls > input[type='checkbox']{
    margin-left: 0.1%;
    width: auto;
}
.login-controls > label{
    margin-right: 0.1%;
}
.login-controls > button {
    margin-left: auto;
}
.btn-google{
    margin-left: 3%;
    width: 15%;
    background-color: #cacaca;
    padding: 0.8%;
    color: black;
    border-right: solid #0E0B16;
    border-bottom: solid #0E0B16;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

form.login-form{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    padding: 2em;
}

input {
    width: 100%;
    margin: 0.6em;
    border-radius: 0.5em;
    padding: 0.2em;
    font-size: medium;
}

/*=== Separador de espadas ===*/
.sword-separator {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    word-break: break-all;
}

.sword-separator>img{
    margin: 0;
    padding: 0;
    width: 20%;
    height: auto;
}




/* HOT GAMES */
.games-mosaico{
    /*margin-left: 10px;
    margin-right: 10px;*/
    margin: auto auto;
    display: flex;
    text-align: center;
    width: 65%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.game-box{
    width: 255px;
    height: auto;
    border: solid #cacaca;
    border-radius: 0.5em;
    margin-bottom: 0.7em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    cursor: pointer;

    /*height: 300px;*/
}
@media only screen and (max-width: 600px) {
    form{
        font-size: xx-small;
        width: 90%;
    }
    form.input{
        width: 80%;
    }

    footer {
        font-size: xx-small;
    }
    .login-controls{
        width: 98%;
    }
    .game-box {
        width: 125px;
        font-size: 0.5em;
    }
    .panel-control{
        font-size: 0.5em;
    }
    h2, h3  {
        font-size: small;
    }

    img.logo {
        width: 47px;
        height: 50px;
    }

    #searchGame {
        margin-right: 2%;
    }
    .panel-control{
        align-items: center;
        align-content: center;
    }
}
.game-box:hover{
    border-color: #0E0B16;
}
.game-box-img{
    width: 100%;
    flex-basis: 60%;
    overflow: hidden;
}

.game-box-img>img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    /*max-width: 125px;*/
   /* height: 125px;
    overflow: hidden;*/
}

.game-box>p{
    flex-basis: 12%;
    margin-top: 4px;
}
.game-box>span.valoracion{
    flex-basis: 10%;
    vertical-align: top;
}
/* Tags de los game-box*/
div.tags{
    flex-basis: 10%;
    display: flex;
    padding: 2px;
    width: 100%;
    background-color: #0E0B16;
    border-radius: 0.1rem;
    color: #cacaca;
    justify-content: space-between;
}
.firmas {
    margin-right: 30px;
    float: right;
    text-align: right;
}

.vertical-border {
    margin: 5px;
    border-left: thick solid #999999;
    border-width: thin;
}

/*---- footer ----*/

footer {
    margin-top: 15px;
    color: aliceblue;
    display: flex;
    flex-direction: column;

}

.links {
    display: flex;
    justify-content: space-between;
    /*flex-basis: 22%;*/
}

.footerLinks {
    display: flex;
    flex-basis: 22%;
    flex-direction: column;
}

.footerLinks a {
    flex-basis: 100%;

}