body{
    font-family: 'Press Start 2P', serif;
    /*margin: 25px;*/
    background-color: #0E0B16;
/*    padding: 5px;*/
     font-size: 1vw;
}


main {
    /*margin-top: 15px;*/
    /*background-color: #E7DFDD;*/
    background: linear-gradient(141deg, #808080 0%, #8D8D8D 51%, #808080 75%);
    color: black;
    margin-bottom: 30px;
    border-radius: 0.6rem;
}

button{
    width: 10%;
    background-color: #cacaca;
    padding: 0.8%;
    color: black;
    border-right: solid #0E0B16;
    border-bottom: solid #0E0B16;
    border-radius: 4px;
    cursor: pointer;
}

/*=== Separador de espadas ===*/
.sword-separator {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    word-break: break-all;
}

.sword-separator>img{
    margin: 0;
    padding: 0;
    width: 20%;
    height: auto;
}