.navbar {
    color: aliceblue;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /*background-color: #fff;*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    font-family: 'Press Start 2P', cursive;
}

img.logo {
    width: 94px;
    height: 101px;
    margin-left: 1rem;
}
h2 {
    margin-left: 2rem;
}


div.logo {

}
div.ul-right-nav{
    margin-left: auto;
}

ul.nav-ul{
    display: flex;
    list-style-type: none;
}

ul.nav-ul>li{
    margin-left: 7px;
}