* {box-sizing: border-box}

/* cada juego del carrusel*/
.feat-game {
    display: none;
  /*  margin: auto;*/
    margin-top: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.6em;

}

.feat-game:hover{
    border: solid #cacaca;
}
div.feat-game>a{
    flex: 0 0 50px;
    transition: transform 0.55s;
    width: 100%;
    /*overflow: hidden;*/

}
div.feat-game>a>img {
    vertical-align: middle;
    border-top-right-radius: 0.6rem;
    border-top-left-radius: 0.6rem;
    width: 100%;
    /*max-width: 800px;
    height: auto;
    margin: auto;*/
}

/* titulo del juego */
.game-title {
   /* transform: translateY(-2rem);*/
    color: #f2f2f2;
    z-index: 1;
    background-color: #0E0B16;
    padding: 0.5rem;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.6rem;
    /*    padding: 8px 12px;
        bottom: 8px;*/
    width: 100%;
    text-align: left;
}

/* Slideshow container */
.carrusel {
    width: 50%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    /*position: relative;*/



}

.carrusel-imgs{
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    display: flex;
    /*width: 800px;
    height: 500px;*/
    margin: 0rem auto;
}



/* div de los dots*/
.carrusel-dots{
    margin-top: 1em;
    text-align: center;
}

/* cada dot*/
.carrusel-dot {
    cursor: pointer;
    height: 1.3rem;
    width: 1.3rem;
    margin: 0 1rem;
    background-color: #0E0B16;
    border-radius: 50%;
    display: inline-block;

    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #f2f2f2;
}

/* animacion de fade */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Para pantallas mas chicas achicamos el tamaño de letra */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

/*--------- Momentaneamente no utilizado--------*/
/*
/* botones next y prev */
.prev, .next {
    cursor: pointer;
    position: relative;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* ponemos el boton de next hacia la derecha */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
