div.section-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
div.section-title>img{
    width: 4%;
    height: auto;
}

div.section-title>h1{
    margin-left: 8px;
}

.games-mosaico{
    /*margin-left: 10px;
    margin-right: 10px;*/
    margin: 0 auto;
    display: flex;
    text-align: center;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.game-box{
    width: 255px;
    height: auto;
    border: solid #cacaca;
    border-radius: 0.5em;
    margin-bottom: 0.7em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    /*height: 300px;*/
}
@media only screen and (max-width: 600px) {
    .game-box {
        width: 125px;
        font-size: 0.5em;
    }
    .panel-control{
        font-size: 0.5em;
    }
}
.game-box:hover{
    border-color: #0E0B16;
}
.game-box-img{
    width: 100%;
    flex-basis: 60%;
    overflow: hidden;
}

.game-box-img>img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    /*max-width: 125px;*/
   /* height: 125px;
    overflow: hidden;*/
}

.game-box>p{
    flex-basis: 12%;
    margin-top: 4px;
}
.game-box>span.valoracion{
    flex-basis: 10%;
    vertical-align: top;
}
/* Tags de los game-box*/
div.tags{
    flex-basis: 10%;
    display: flex;
    padding: 2px;
    width: 100%;
    background-color: #0E0B16;
    border-radius: 0.1rem;
    color: #cacaca;
    justify-content: space-between;
}

/* Buscador de Juegos */
.buscador-juegos{
    display: flex;
    /*flex-wrap: wrap;*/
    width: 90%;
}
.panel-control{
    border-right: solid #0E0B16;
    padding-right: 2%;
    flex-basis: 20%;
   /* width: 20%;*/
}
.panel-control>ul{
    list-style-type: none;
}

.panel-control>ul>li{
    margin-top: 1em;
    margin-bottom: 1em;
}

input#searchGame{
    font-size: 1.5em;
    width: 100%;
}

span.tagFilter{
    margin-top: 3em;
    margin-bottom: 1em;
    border-left: solid 0.5em #0E0B16;
    padding-left: 0.5em;
    cursor: pointer;
}

span.tagFilter:hover{
    border-color: #cacaca;

}

.buscador-juegos>div.games-mosaico{
    flex-basis: 80%;
}